streamlit==1.48.0
streamlit-autorefresh==1.0.1
streamlit-javascript==0.1.5
pandas==3.0.2
numpy==2.4.4
Pillow==12.1.1
python-dotenv
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
duckdb==1.5.0
torch>=2.0.0
torchvision
ultralytics==8.4.33
openai
llama-index==0.14.19
llama-index-llms-ollama
pywin32
pyserial==3.5
fpdf==1.7.2
loguru==0.7.2
rich==14.3.3
Wand==0.6.13